@using ComputerOnlineStorage.Controllers
@model IEnumerable<ShowCategories>
@{
    ViewBag.Title = "Категории товаров";
}

<div>
    <h3>Категории товаров</h3>
    <table>
        <tr>
            <td>Id &nbsp;&nbsp;&nbsp;</td>
            <td>Родительская категория &nbsp;&nbsp;&nbsp;</td>
            <td>Производители &nbsp;&nbsp;&nbsp;</td>
            <td></td>
        </tr>
        @foreach (ShowCategories c in Model)
        {
            <tr>
                <td><p>@c.CategoryId &nbsp;&nbsp;&nbsp;</p></td>

                <td>
                    <p>
                        @c.ParentCategory &nbsp;&nbsp;&nbsp;
                    </p>
                </td>

                <td><p>@c.CategoryName &nbsp;&nbsp;&nbsp;</p></td>
                <td>
                    <input type="submit" value="Удалить"
                           onclick='location.href="Delete/@c.CategoryId"' />
                </td>
                <td>
                    <input type="submit" value="Изменить"
                           onclick='location.href="Edit/@c.CategoryId"' />
                </td>
            </tr>

        }
    </table>
    <input type="submit" name="AddManufacture" value="Добавить производителя"
           onclick='location.href="AddCategory"' />
</div>
